:root {
    --background: #2C2C2C;
    --primary-color: white;
    --secondary-color: #2C2C2C;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.logo-container svg {
    height: 12rem;
    width: 12rem;
    /* stroke: var(--secondary-color);
    stroke-width: 1.75; */
    transition: 0.8s;
}

.logo-container:hover svg {
    stroke: var(--primary-color);
    transform: rotateY(360deg);
    stroke-width: 1.75;
}
