* {
    box-sizing: border-box;
}

body {
color: #222;
background-color: #fff;
font-family: 'Montserrat', sans-serif;
transition: background-color .5s, color .5s;
margin: 0;
padding: 0;
}
  
.night-mode {
    background-color: #222;
    color: white;
}
    
.night-mode .tumbler {
        transform: translateX(calc(100% - 2px));
}
      
.header {
    text-align: right;
  width: 80vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
}
   
.tumbler-wrapper {
    margin-left: auto;
    width: 50px;
    height: 30px;
    background-color: black;
    border: darken(#aae2f1, 40);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    cursor: pointer;
    display: flex;
    position: relative;
}
  
.tumbler-wrapper svg {
    width: 15px;
    height: 15px;
  }

.tumbler {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform .5s, background-color .5s;
    will-change: transform;
}
  
  .main {
    width: 80vw;
    max-width: 500px;
    padding: 0 1rem;
    margin: auto;
}